/* Globalne  Sory że tyle poprawek tu było */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
}

body li {
    list-style: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

/* Nav+Footer */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #2196f3;
}
.studio-black {
    color: #000000;
}
.studio-white {
    color: #ffffff;
}

.header-wrapper {
    background-color: #ffffff;
    padding: 24px 0px 25px 0px;
    border-bottom: 1px solid #ececec;
}

.header-wrapper > .container {
    padding: 0 27px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.envelope {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}
.phone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}

.nav-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #2196f3;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
    text-decoration: none;
}
.contact:hover {
    color: #2196f3;
}

.contact-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/* FOOTER */

.footer-wrapper {
    background-color: #2f303a;
    color: #ffffff;
    padding: 60px 0px;
}

.footer {
    display: flex;
    justify-content: left;
    gap: 70px;
}

.footer-wrapper address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address {
    padding-top: 20px;
}

.footer-address {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.footer-contact {
    color: #ffffff60;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    width: fit-content;
}

.footer-contact:hover,
.footer-contact:focus {
    color: #2196f3;
}

.footer-tel {
    text-decoration: none;
}

.footer-join-us {
    text-align: left;
}

.footer-join-us-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.footer-join-us-icons a {
    display: block;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #ffffff;
}

.footer-join-us-icons svg {
    width: 20px;
    height: 20px;
    display: block;
    fill: currentColor;
}

.footer-join-us-icons a:hover {
    background-color: #2196f3;
}

/* Main Portfolio */

.category-buttons {
    display: flex;
    justify-content: center;
}

.button {
    font-weight: 500;
    background-color: #f5f4fa;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px 4px 50px;
}

.button:hover,
.button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-projects figcaption {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    display: block;
}
.portfolio-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-align: left;
    display: block;
}

/* main-index*/

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
}

/* TŁo*/

.heading {
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(/images/index-background.jpg);
    background-size: cover;
}

.heading h1 {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding: 106px 252px 0px 252px;
}
.jobs {
}
.service-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 41px;
}

.service-button:hover .service-button:focus {
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.text-list {
    display: flex;
    gap: 30px;
    height: 101px;
    text-align: center;
}
.icon-article {
    width: 70px;
    height: 70px;
}
.article-images {
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.text-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}

.text-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: justify;
}

.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.what-we-do-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* Team */

.team {
    background-color: #f5f4fa;
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-bottom: 50px;
    display: block;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team figure {
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.03em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: block;
}

.team figcaption {
    padding-top: 30px 0px;
    text-align: center;
    display: block;
}

.team-list-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
    display: block;
}

.team-list-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 16px;
    display: block;
}
.team-list figcaption {
    padding: 30px 32px;
}
.team-social-icons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.team-social-icons a {
    display: block;
    padding: 12px;
    color: #afb1b8;
    border-radius: 50%;
}
.team-social-icons svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    display: block;
}
.team-social-icons a:hover {
    background-color: #2196f3;
    color: #ffffff;
}
.clients h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-bottom: 50px;
    display: block;
}
.client-icons-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.client-icons a {
    border-radius: 4px;
    outline: 1px solid #afb1b8;
    display: inline-block;
    color: #afb1b8;
    padding: 16px 32px;
}
.client-icons svg {
    display: block;
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.client-icons a:hover {
    color: #2196f3;
    outline-color: #2196f3;
}
